<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <title>YangForge Browser</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="YangForge, YANG, Data Models"/>
  <meta name="author" content="Peter Lee - ClearPath Networks, Inc."/>
  <link rel="shortcut icon" href="img/favicon.ico"/>
  <link href="css/bootstrap.css" rel="stylesheet"/>  
  <link href="css/ember-charts.css" rel="stylesheet"/>  
</head>

<body>
  {{{body}}}
</body>
</html>
