<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="YangForge, YANG, Data Models"/>
  <meta name="author" content="Peter Lee - ClearPath Networks, Inc."/>
  <title>YangForge Browser</title>
  <link rel="shortcut icon" href="img/favicon.ico"/>
  <!-- CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style media="screen" type="text/css">
   .nav-list {
	 padding-left: 15px;
	 /* padding-right: 15px; */
	 margin-bottom: 0;
   }

   .nav-list > li > a,
   .nav-list .nav-header {
	 margin-left: -15px;
	 margin-right: -15px;
	 text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
   }

   .nav-list > li > a {
	 padding: 3px 15px;
   }

   .nav-list > .active > a,
   .nav-list > .active > a:hover,
   .nav-list > .active > a:focus {
	 color: white;
	 text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	 background-color: #08c;
   }

   .nav-list [class^="icon-"],
   .nav-list [class*=" icon-"] {
	 margin-right: 2px;
   }

   .nav-list .divider {
	 *width: 100%;
	 height: 1px;
	 margin: ((1.428571429 / 2) - 1) 1px; // 8px 1px
	 *margin: -5px 0 5px;
	 overflow: hidden;
	 background-color: #428bca;
	 border-bottom: 1px solid white;
   }

   .nav-header {
	 display: block;
	 padding: 3px 15px;
	 font-size: 11px;
	 font-weight: bold;
	 line-height: 1.428571429;
	 color: #999;
	 text-shadow: 0 1px 0 rgba(255,255,255,.5);
	 text-transform: uppercase;
   }
   // Space them out when they follow another list item (link)
   .nav li + .nav-header {
	 margin-top: 9px;
   }
  </style>
  <style>
   /* Base styles (regardless of theme) */
   .bs-callout {
     /* margin: 20px 0;
     padding: 15px 30px 15px 15px; */
     border-left: 5px solid #eee;
   }

   .bs-callout h4 {
     margin-top: 0;
   }

   .bs-callout p:last-child {
     margin-bottom: 0;
   }

   .bs-callout code,
   .bs-callout .highlight {
     background-color: #fff;
   }

   /* Themes for different contexts */
   .bs-callout-danger {
     background-color: #fcf2f2;
     border-color: #dFb5b4;
   }

   .bs-callout-warning {
     background-color: #fefbed;
     border-color: #f1e7bc;
   }

   .bs-callout-info {
     background-color: #f0f7fd;
     border-color: #d0e3f0;
   }

   .bs-callout-danger h4,
   .bs-callout-danger a.alert-link {
     color: #B94A48;
   }

   .bs-callout-warning h4,
   .bs-callout-warning a.alert-link {
     color: #C09853;
   }

   .bs-callout-info h4,
   .bs-callout-info a.alert-link {
     color: #3A87AD;
   }

   .bs-callout a.alert-link {
     font-weight: bold;
   }
  </style>
  <script src="browser/yangforge.js"></script>
  <script src="http://fb.me/react-0.13.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
  {{{body}}}
  <!-- Visualization components -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
