<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="YangForge, YANG, Data Models"/>
  <meta name="author" content="Peter Lee - ClearPath Networks, Inc."/>
  <title>YangForge Browser</title>
  <link rel="shortcut icon" href="img/favicon.ico"/>
  <!-- CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style media="screen" type="text/css">
   .nav-list {
	 padding-left: 15px;
	 /* padding-right: 15px; */
	 margin-bottom: 0;
   }

   .nav-list > li > a,
   .nav-list .nav-header {
	 margin-left: -15px;
	 margin-right: -15px;
	 text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
   }

   .nav-list > li > a {
	 padding: 3px 15px;
   }

   .nav-list > .active > a,
   .nav-list > .active > a:hover,
   .nav-list > .active > a:focus {
	 color: white;
	 text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	 background-color: #08c;
   }

   .nav-list [class^="icon-"],
   .nav-list [class*=" icon-"] {
	 margin-right: 2px;
   }

   .nav-list .divider {
	 *width: 100%;
	 height: 1px;
	 margin: ((1.428571429 / 2) - 1) 1px; // 8px 1px
	 *margin: -5px 0 5px;
	 overflow: hidden;
	 background-color: #428bca;
	 border-bottom: 1px solid white;
   }

   .nav-header {
	 display: block;
	 padding: 3px 15px;
	 font-size: 11px;
	 font-weight: bold;
	 line-height: 1.428571429;
	 color: #999;
	 text-shadow: 0 1px 0 rgba(255,255,255,.5);
	 text-transform: uppercase;
   }
   // Space them out when they follow another list item (link)
   .nav li + .nav-header {
	 margin-top: 9px;
   }
  </style>
  <style>
   .bs-callout {
     padding: 20px;
     margin: 20px 0;
     border: 1px solid #eee;
     border-left-width: 5px;
     border-radius: 3px;
   }
   .bs-callout h4 {
     margin-top: 0;
     margin-bottom: 5px;
   }
   .bs-callout p:last-child {
     margin-bottom: 0;
   }
   .bs-callout code {
     border-radius: 3px;
   }
   .bs-callout+.bs-callout {
     margin-top: -5px;
   }
   .bs-callout-default {
     border-left-color: #777;
   }
   .bs-callout-default h4 {
     color: #777;
   }
   .bs-callout-primary {
     border-left-color: #428bca;
   }
   .bs-callout-primary h4 {
     color: #428bca;
   }
   .bs-callout-success {
     border-left-color: #5cb85c;
   }
   .bs-callout-success h4 {
     color: #5cb85c;
   }
   .bs-callout-danger {
     border-left-color: #d9534f;
   }
   .bs-callout-danger h4 {
     color: #d9534f;
   }
   .bs-callout-warning {
     border-left-color: #f0ad4e;
   }
   .bs-callout-warning h4 {
     color: #f0ad4e;
   }
   .bs-callout-info {
     border-left-color: #5bc0de;
   }
   .bs-callout-info h4 {
     color: #5bc0de;
   }
  </style>
  <style>
   .nav-list.tree {
     border-left: 5px solid #eee;
   }
   #main a:hover {
	 cursor: pointer;
   }
   #main pre {
	 background: none;
	 padding: 0;
   }
   #main pre code {
	 font-family: monospace,monospace;
   }
   header.navbar {
	 margin-bottom: 0;
   }
   #slider .item {
	 height: 200px;
	 background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
   }
   .operation form {
	 padding-top: 20px;
   }
   .browser-footer {
	 padding-top: 40px;
	 padding-bottom: 40px;
	 margin-top: 100px;
	 color: #767676;
	 text-align: center;
	 border-top: 1px solid #e5e5e5;
   }
   .footer-links {
	 padding-left: 0;
	 margin-top: 20px;
   }
   .footer-links li {
	 display: inline;
	 padding: 0 2px;
   }
  </style>
  <link rel="stylesheet" href="/browser/highlight/tomorrow.css">
  <script src="/browser/yangforge.js"></script>
</head>
<body>
  <header class="navbar navbar-default navbar-static-top" role="banner">
	<div class="container">
	  <div class="navbar-header">
		<a class="navbar-brand">YangForge</a>
	  </div>
	  <nav id="bs-navbar" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
          <li>
			<a href="getting-started/">Getting started</a>
          </li>
          <li>
			<a href="yang/">YANG</a>
          </li>
          <li>
			<a href="yaml/">YAML</a>
          </li>
          <li>
			<a href="coffee/">CoffeeScript</a>
          </li>
          <li>
			<a href="customize/">Customize</a>
          </li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
          <li><a href="http://opnfv.org"">OPNFV</a></li>
          <li><a href="http://onosproject.org">ONOS</a></li>
		</ul>
      </nav>
	</div>
  </header>
  {{{body}}}
  <footer class="browser-footer">
	<div class="container">
	  <p>
		Code licensed under
		<a rel="license" href="https://github.com/saintkepha/yangforge/blob/master/LICENSE" target="_blank">Apache 2.0</a>,
		sponsored by 
		<a rel="company" href="http://www.clearpathnet.com" target="_blank">ClearPath Networks, Inc.</a>
	  </p>
	  <ul class="footer-links text-muted">
		<li>Currently v{{{version}}}</li>
		<li>·</li>
		<li><a href="https://github.com/saintkepha/yangforge">GitHub</a></li>
		<li>·</li>
		<li><a href="https://github.com/saintkepha/yangforge/issues">Issues</a></li>
		<li>·</li>
		<li><a href="https://github.com/saintkepha/yangforge/releases">Releases</a></li>
	  </ul>
	</div>
  </footer>
  <!-- Visualization components -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
