<div id="loading"></div>

<script>
  (function () {
    console.log("yangforge self-forgery initiated...");
    source = atob("{{{source}}}");
    {{{forgery}}};
    console.log("yangforge is ready");
  }(this));
</script>
